<h1>Tournaments</h1>
<% if @tournaments.count == 0 then %>
  <p>There are no tournaments announced yet for this party.</p>
<% else %>
  <table width="75%" align="center" cellspacing="0" cellpadding="2" border="1">
    <tr>
      <th>Tournament Name</th>
      <th>Teams</th>
    </tr>
  <% @tournaments.each do |t| %>
    <tr>
      <td><%= link_to t.name, party_tournament_path(:party_id => t.party_id, :id => t.id) %><br/>
        <span class="tournament_gamename"><%= t.game.name %></span></td>
      <td style="text-align: center;"><%= t.current_registrations %> of <%= t.max_teams %>
        <% if User.current && User.current.has_team_leader?(t.party_id) then %>
          <% if TournamentRegistration.find_by_team_id_and_tournament_id(User.current.own_team(t.party_id),t.id) != nil then %>
            <br/><h4><em>Registered</em></h4>
           <% else %>
            <br/><%= link_to '[Register]', new_party_tournament_tournament_registration_path(:tournament_id => t.id) %>
            <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
<br/><h3>Currently Registered Teams</h3>
<% if @teams.count == 0 then %>
  <p>There are no teams registered yet! Be the first! <%= link_to 'Make one!', new_party_team_path %></p>
<% else %>
  <table width="75%" align="center" cellspacing="0" cellpadding="2" border="1">
    <tr>
      <th>Team Name</th>
      <th>Members</th>
      <th>Leader</th>
    </tr>
    <% @teams.each do |t| %>
    <tr>
      <td><%= link_to t.name, party_team_path(:id => t.id, :party_id => params[:party_id]) %></td>
      <td style="text-align: center;"><%= t.member_count %></td>
      <td style="text-align: center;"><%= link_to t.leader.username, profile_path(t.leader) %></td>
    </tr>
    <% end %>
  </table>
<% end %>