<% if @party then %>
  <div class="upcoming_party_box center">
    <h6>Next Upcoming Party:</h6>
    <h2><%= link_to @party.name, party_registrations_path(:party_id => @party.id) %></h2>
    <%= @party.start_time %> to <%= @party.end_time %>
  </div><br/><br/>
<% end %>
<% @news.each do |n| %>
  <table class="news_table">
    <tr>
      <th class="news_title"><%= link_to n.title, news_url(n) %>
    </tr>
    <tr>
      <td class="news_body"><%= n.body %></td>
    </tr>
    <tr>
      <td class="news_footer">Posted at <%= n.created_at %> by <%= link_to n.user.username, profile_path(n.user) %></td>
    </tr>
  </table>
<% end %>