<% if User.current && User.current.moderator? %>
  <b>Moderators:</b><br/>
  <ul>
    <li><%= link_to 'New News Article', new_news_path %></li>
    <li><%= link_to 'New Sponsor', new_sponsor_path %></li>
  </ul>
<% end %>
<% if User.current && User.current.admin? %>
  <hr/>
  <b>Admin Panel:</b><br/>
  <ul>
    <li><%= link_to 'New Party', new_party_path %></li>
    <% if Party.current_party && Settings[:enable_tournaments].match(/(true|t|yes|y|1)$/i) != nil then %>
      <li><%= link_to 'New Tournament', new_party_tournament_path(Party.current_party) %></li>
    <% end %>
    <% if Settings[:enable_forums].match(/(true|t|yes|y|1)$/i) != nil %>
      <li><%= link_to 'New Forum', new_forum_path %></li>
    <% end %>
    <li><%= link_to 'Site Settings', site_settings_path %></li>
  </ul>
<% end %>