Hello <%= @user.username %>!  This message is to confirm your registration for <%= @party.name %>.  Thank you for pre-registering for the party!<br/>
<% if @party.price > 0 then %>
  You still need to pre-pay to secure your seat.<br />
  The registration fee for this party is $<%= @party.price %>. You can pre-pay your registration fee via PayPal.<br/>
  <form action="https://www.paypal.com/us/cgi-bin/webscr" method="POST">
    <%= paypal_setup @registration.id, @party.price, Settings[:paypal_address], :item_name => "#{@party.name} Registration for #{@user.username}", :notify_url => url_for(ipn_path) %>
    <%= submit_tag 'Pay Now' %>
  </form>
<% end %>
<br/>This message is sent from an unattended mailbox.  Please do not reply.