<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
          <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
          <title><%= site_title %></title>
          <%= stylesheet_link_tag "default" %>
          <%= stylesheet_link_tag "themes/#{Settings[:site_theme]}" %>
          <%= javascript_include_tag 'prototype'  %>
          <%= include_tiny_mce_if_needed %>
          <%= calendar_date_select_includes %>
	</head>
	<body>
        <div id="header">
          <div id="site_banner"></div>
          <div id="main_nav">
            <%= render :partial => 'widgets/top_navigation' %>
          </div>
        </div>
        <div id="main">
          <div id="left_bar" class="float_left">
            <%= render :partial => 'widgets/login_box' %>
            <hr/>
            <%= render :partial => 'widgets/left_navigation' %>
          </div>
          <div id="main_body" class="float_left">
            <%= content_tag 'p', h(flash[:notice]), :class => 'notice' if flash[:notice] %>
            <%= content_tag 'p', h(flash[:error]), :class => 'notice error' if flash[:error] %>
            <%= yield -%>
          </div>
          <div class="break"></div>
        </div>
        <div id="footer">
          Powered by <a href="http://lanrails.jonnyfunfun.com/" target="_blank">LANRails</a>, Open-source LAN Party Management: Rails Style!<br/>
          Copyright &copy; 2009: Jonathan Enzinna.  Licensed under the GNU/GPL.<br/>
          <a href="http://lanrails.jonnyfunfun.com/" target="_blank">
            <img src="/images/lanrails.png" border="0" alt="Powered by LANRails" style="margin-top: 4px;"/>
          </a>
        </div>
	</body>
</html>
