<h1>Account#login</h1>
<p>Find me in app/views/account/login.html.erb</p>
<% form_tag login_path do %>
<span class="error"><%= @login_error %></span>
<table>
	<tr>
		<td>Username:</td>
		<td><%= text_field_tag 'username', nil %></td>
	</tr>
	<tr>
		<td>Password:</td>
		<td><%= password_field_tag 'password', nil %></td>
	</tr>
	<tr>
		<td colspan="2">
			<%= submit_tag "Log-In" %>
		</td>
	</tr>
</table>
<%= javascript_tag "Form.Element.focus('username');" %>
<% end %>